* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1611996575749-79a3a250f948?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5px;
  height: 700px;
}

table {
  margin: 10px auto;
  background-color: rgb(149, 169, 236);
  border: 2px solid black;
  border-radius: 20px;
}
td {
  width: 100px;
  height: 100px;
  border-right: 5px solid rgb(39, 42, 209);
  border-bottom: 5px solid rgb(13, 17, 240);
  margin: 4px;
}
tr:last-child > td {
  border-bottom: none;
}

td:last-child {
  border-right: none;
}
.fade-in {
  font-size: 40px;
  font-weight: bolder;
  animation: fadeIn ease-in-out 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  50% {
    font-size: 120px;
  }
  100% {
    font-size: 100%;
  }
}

button {
  background-color: aliceblue;
  color: blueviolet;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.game-over {
  display: inline;
  animation: fade-game ease-in-out 0.4s;
  font-size: 30px;
  font-weight: bold;
  background-color: aqua;
  color: rgb(12, 12, 12);
  border-radius: 10px;
}
.restart-btn {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(20, 20, 20);
  opacity: 0.6;
}
